@import "../../styles/variables.scss";

.movieCard {
  max-width: 80vw;
  margin: calc(var(--headerHeight) + 20px) auto 20px auto;
}

[class="ant-card ant-card-bordered"] {
  max-width: 80vw;
  margin: 0 auto;
  padding: 20px;
  background-color: $colorGray;
  @media (--min-desktop) {
    display: flex;
    justify-content: space-around;
  }
}
[class="ant-card-cover"] {
  @media (--max-desktop) {
    max-width: 300px;
    margin: 0 auto;
  }
}
[class="ant-card-body"] {
  @media (--min-desktop) {
    width: 50%;
  }
}

img {
  object-fit: contain;
}
